a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



.navthingy {
   
    display: flex;
    border-bottom: 1px solid #ffffff; 
    margin-bottom: 3px;
}

.navthingy2 {
    display: inline-flex;
    flex-direction: row-reverse;
}





.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
    background-color: aliceblue;
    font-size: 16px;
}

